@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tsd {
    @apply transition-all duration-500 ease-in-out;
  }

  .scrollbar-style {
    @apply modern-scroll;
  }

  .subscribe-btn {
    @apply w-full btn btn-ghost dark:bg-slate-100 bg-slate-800 dark:text-slate-900 text-slate-300 rounded-full hover:bg-slate-600 tsd;
  }

  .unsubscribe-btn {
    @apply w-full btn btn-ghost dark:bg-slate-700/80 bg-slate-200/80 dark:text-slate-300/80 rounded-full hover:bg-slate-500/80 tsd;
  }

  .collect-channel-btn {
    @apply btn btn-success w-full rounded-full;
  }

  .progress-bar {
    @apply bg-gradient-to-r from-indigo-500/20 from-10% via-sky-500/20 via-30% to-emerald-500/20 to-90% tsd;
  }
}

.scrollbar-style::-webkit-scrollbar {
  width: 0.5em !important;
  height: 0.5em !important;
  background-color: transparent !important;
}